
.box{
    margin-bottom: 70px;
  .App-Bar {
    .tool-bar {
      background-color: #082032;
    }
  }
}
.css-6hp17o-MuiList-root-MuiMenu-list {
  padding: 10px !important;
}
// .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
//   color: green !important;
// }
