.rab-drawar {
  width: 280px;
  padding: 1rem;
  .nav-link {
    transition: 0.4s;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 3px;

    &:hover {
      margin-left: 5px;
      background: rgba(175, 197, 219, 0.5);
    }
  }
}
.icons {
  margin-right: 10px;
}
// .css-4t3x6l-MuiPaper-root-MuiDrawer-paper{
//   background-color: rgba(67, 66, 57,.9) !
// }
